.container-about {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;       
    padding: 0 15px; 
    margin: 10px; 
    gap: 20px;    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.container-about div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;           
    flex-direction: column;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: 800px;
    text-align: center;
    border: solid;
    border-width: 2.01px;
    border-color: rgb(246, 169, 61);
    border-radius: 12px;
    padding: 20px;

   
   
}


.p-long {
    font-size: 19px;
}

.column_center {
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2;    
                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}




@media (max-width:1200px) {


    .container-about {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;       
        padding: 0 15px;      /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 150px;
     
    
       
    }
    
    .container-about div {
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
                     /* NEW, Spec - Opera 12.1, Firefox 20+ */
        height: 800px;
        text-align: center;
        border: solid;
        border-width: 2.01px;
        border-color: rgb(246, 169, 61);
        border-radius: 12px;
     
     
       
    }
    
    
    .p-long {
        font-size: 18px;
    }
    
    .column_center {
        -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
        -ms-flex-order: 2;              /* TWEENER - IE 10 */
        -webkit-order: 2;               /* NEW - Chrome */
        order: 2;    
                           /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
    
    
    




  
  }
  
  
    